/************************
ERROR MESSAGES
*************************/

.error{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 0.8em;
    width: auto;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    color: rgb(220,220,220);
    padding: 2px;
}

/************************
INPUT
*************************/

#userName,
#userConfirmation {
    display: inline-block;
    margin: 15px;
}




/************************
USER NAME
*************************/

input {
    border: 1px solid grey;
}

/************************
BUTTON
*************************/

button {
    margin-left: 15px;
    display: inline-block;
}


/************************
FIELDSET
*************************/

fieldset {
    border: 0;
}

/************************
FOOTER
*************************/

footer {
    margin-left: 1.5%;
}